
@font-face {
  font-family: 'WorkSans-Regular';
  src: url('http://robotois.com/fonts/WorkSans-Regular.ttf');
}
@font-face {
  font-family: 'WorkSans-Bold';
  src: url('http://robotois.com/fonts/WorkSans-Bold.ttf');
}
@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('http://robotois.com/fonts/WorkSans-SemiBold.ttf');
}
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('http://robotois.com/fonts/Brandon_blk.otf');
}
@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url('http://robotois.com/fonts/Brandon_light.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #5764C6;
  color: #FFF;
  font-family: WorkSans-Bold;
}
