
@font-face {
  font-family: 'WorkSans-Regular';
  src: local('WorkSans-Regular'), url(%PUBLIC_URL%fonts/WorkSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'WorkSans-Bold';
  src: local('WorkSans-Bold'), url(%PUBLIC_URL%fonts/WorkSans-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'WorkSans-SemiBold';
  src: local('WorkSans-SemiBold'), url(%PUBLIC_URL%fonts/WorkSans-SemiBold.ttf) format('ttf');
}
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: local('BrandonGrotesque-Bold'), url(%PUBLIC_URL%fonts/Brandon_blk.otf) format('otf');
}
@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: local('BrandonGrotesque-Light'), url(%PUBLIC_URL%fonts/Brandon_light.otf) format('otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #5764C6;
  color: #FFF;
  font-family: WorkSans-Bold;
}
